.page {
  margin: 0 auto;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  background-color: var(--bg-main-color);
}

@media (width >= 768px) {
  .page {
    padding: 20px 20px 20px 0;
  }
}

/* header */

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 5px;
}

@media (width >=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
    margin-inline-start: 20px;
  }
}

@media (width: 768px) {
  .header__theme-menu {
    margin-block-start: 7px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
  }
}
.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  color: var(--menu-button-color);
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-botton-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

/* decoration */

.decoration {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-inline-end: 12px;
  color: var(--decoration-color);
  inset-inline-end: 0;
  inset-block-start: 0;
  text-transform: uppercase;
  margin-block-start: 1px;
}

.decoration::after {
  content: "";
  border-radius: 100%;
  inline-size: 3px;
  block-size: 3px;
  background-color: var(--decoration-color);
  box-shadow: 0 0 5px 4px var(--decoration-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decorated-zone);
  border-right: 1px solid var(--decorated-zone);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--decorated-zone);
  border-left: 1px solid var(--decorated-zone);
  inset-inline-start: 0;
  inset-block-end: 20px;
}

@media (width >=1024px) {
  .decorated-zone::after {
    inset-inline-start: 18px;
  }
}

@media (width >= 768px) {
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 40px;
  }
}

/* Main-title */

.main__title {
  max-inline-size: 759px;
  min-inline-size: 355px;
  font-size: var(--logo-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--main-title-shadow-color);
  color: var(--header-title-color);
  margin-block-start: 14px;
}

@media (width > 375px) {
  .main__title {
    font-size: var(--logo-size);
  }
}

@media (width >=1024px) {
  .main__title {
    margin-block-start: 45px;
  }
}

.header__title-text {
  line-height: 130%;
  font-size: inherit;
  font-weight: 700;
  justify-self: end;
}

.additional-gap-mobile {
  margin-block-end: 16px;
}

@media (width >= 768px) {
  .additional-gap-mobile {
    margin-block-end: 37px;
  }
}

@media (width >= 768px) {
  .accent_text-tablet {
    inline-size: 364px;
  }
}

@media (width >=1024px) {
  .accent_text-tablet {
    inline-size: 491px;
  }
}

.title-decor {
  color: var(--heading-text-color);
  background-color: var(--decoration-color);
}

/* sections__general */

.main {
  margin-block-start: 30px;
}

@media (width < 768px) {
  .section__list-item,
  .how-content {
    margin-block-start: 20px;
  }
}

@media (width >= 768px) {
  .main {
    margin-inline-start: 20px;
  }

  .section:not(:first-of-type) {
    margin-block-start: 80px;
  }

  .how-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .how-list:not(:first-of-type) {
    margin-block-start: 20px;
  }
}

@media (width >= 1024px) {
  .list-item-desktop:not(:first-of-type) {
    margin-block-start: 20px;
  }
}

@media (width < 768px) {
  .section:not(:first-of-type) {
    margin-block-start: 50px;
  }
}

@media (width >= 768px) {
  .section {
    display: grid;
    margin-block-start: 40px;
    gap: 20px;
  }
  .section__how,
  .section__why {
    grid-template-columns: 236px 1fr;
  }
}

@media (width >= 1024px) {
  .section {
    display: grid;
    margin-block-start: 40px;
    gap: 0;
  }

  .section__how,
  .section__why {
    grid-template-columns: 335px 1fr;
  }
}

/* section__why */

@media (width >= 768px) {
  .section__why-list {
    display: grid;
    gap: 20px;
  }
}

@media (width >= 1024px) {
  .section__why-list {
    gap: 0;
  }
}

.heading {
  font-size: inherit;
  line-height: 130%;
  color: var(--heading-text-color-no-bold);
}

.section__paragraph {
  line-height: 130%;
  color: var(--paragraph-font-color);
  margin-block-start: 10px;
}

.section__link {
  text-decoration: none;
  text-shadow: 3px 3px 0 var(--link-shadow);
}

.section__link:hover {
  border-block-end: 1px solid var(--underline-link-color);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--underline-link-color);
}

/* section__what */

.how-title-accent {
  font-weight: 400;
}

@media (width >= 1024px) {
  .section__what {
    row-gap: 20px;
  }
}

@media (width >= 768px) {
  .section__what-list {
    display: grid;
    gap: 20px;
  }

  .heading__section_what {
    inline-size: 236px;
  }
}

@media (width >=1024px) {
  .heading__section_what {
    inline-size: 315px;
  }

  .section__what-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/* section__pictures */

.picture {
  inline-size: 100%;
}

.section__pictures-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-block-start: 10px;
}

@media (min-width: 768px) {
  .picture {
    inline-size: 100%;
  }

  .section__pictures-heading {
    inline-size: 100%;
  }

  .section__pictures-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
    padding-block-start: 0;
  }

  .picture-sunset,
  .picture-street {
    grid-column: span 2;
  }

  .picture-ice-cream,
  .picture-tape {
    grid-row: span 2;
  }

  .picture_accent {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (width >= 1024px) {
  .section__pictures-list {
    grid-template-rows: 263px 316px 432px;
    margin-block-start: 17px;
  }
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 45px;
  margin-inline-start: 0;
  block-size: 100vh;
  min-block-size: 668px;
}

@media (width >= 768px) {
  .footer {
    margin-block-start: 75px;
  }
}

@media (width >= 1024px) {
  .footer {
    margin-block-start: 80px;
    margin-inline-start: 2px;
  }
}

.footer__titile {
  text-shadow: 2px 2px 0 var(--main-title-shadow-color);
  margin-block-end: 33px;
  margin-inline-start: 8px;
}

@media (width >= 768px) {
  .footer__titile {
    margin-inline-start: 20px;
    margin-block-start: 2px;
  }
}

@media (width >= 1024px) {
  .footer__titile {
    margin-inline-start: 20px;
    margin-block-end: 43px;
  }
}
